$floor-width: 200px;
$floor-height: $floor-width/2;

$platform-width: $floor-width/4;
$platform-height: 6px;

$wall-color: #535c68;
$hole-width: $floor-width/4;

$inhabitant-height: 12px;
$inhabitant-width: 12px;
